
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.text-orange{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.btn{
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    background-image: linear-gradient(to right, #FF9772,#FF6F51);
    text-decoration: none;
}
.bg-image-top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    margin: 0 5%;
    padding-left: 20px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
#exp-img-right {
	border-left: 10px solid;
	border-image: linear-gradient(180deg, blue, cyan);
	border-image-slice: 1;
}
#exp-img-left {
	border-left: 10px solid;
	border-image: linear-gradient(180deg, blue, cyan);
	border-image-slice: 1;
}
footer p{
    text-align: center;
}